.kapow_cta__card_container {
    width: 23rem;
    margin: 0 auto;
   
}
.kapow_cta__card_container section {
    padding: 1rem;
}

[data-theme=light-theme] .kapow_cta__card_container>section {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 35%);    
}

[data-theme=dark-theme] .kapow_cta__card_container>section {
    background-color: #1d1d1d;
}
@media all and (min-width:1280px) {
    .kapow_cta__card_container {
        padding-top: 1rem;
    }
}
@media all and (max-width:1279px) {
    .kapow_cta__card_container {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .kapow_cta__card_container>section {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}
@media (prefers-reduced-motion:no-preference) {

    .kapow_cta__card_container {
        transition: .25s ease-in;
    }
}
@media screen and (min-width:1280px) and (max-height:900px) {
    .kapow_cta__card_container section{
        padding: 1rem;
    }
}
 
