/* .take .course-player__html-item {max-width:100%;} */
.take .kapow-player .button-border{border: 2px solid;}

/* this is color overirdes that can be added to the SFC settings

<style>
.take .fr-view {
    --cta-bg: #252525;
    --cta-text: #FFFFFF;
}
</style>
*/

/* This is a class for a two column layout in text lessons */

.take .fr-view .side-by-side { display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; }
.take .fr-view .side-by-side__image { width: 100%; margin-bottom: 32px; }
@media screen and (min-width: 768px) { .take .fr-view .side-by-side__image { flex: 1 1 50%; max-width: 50%; margin-bottom: 0; display:block; height:auto; width:100%; } }
.take .fr-view .side-by-side__text { width: 100%; margin-bottom: 32px;  }
@media screen and (min-width: 768px) { .take .fr-view .side-by-side__text { flex: 1 1 50%; max-width: 50%; padding-left:1em; } }

/* These are classes for upgrade banners in lessons */

.take .fr-view .cta {
    line-height: 1.5rem;
    font-weight: 400;
    /* font-family: Lato; */
    box-sizing: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    padding: 1.5rem;
    border: 1px solid;
    border-radius: .125rem;
    list-style-type: none;
    background-color: var(--cta-bg,#F2F3F5);
    
    
}

@media (min-width: 415px) {
    .take .fr-view .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.take .fr-view  .cta-content {
    margin: 0 0 0.5rem;
}

.take .fr-view  .cta-content,
.take .fr-view  .cta-content h1,
.take .fr-view  .cta-content h2,
.take .fr-view  .cta-content h3,
.take .fr-view  .cta-content h4,
.take .fr-view  .cta-content h5{
    color: var(--cta-text,inherit);
}
.take .fr-view  .cta-side .cta-content {
    max-width:70%;
}
.take .fr-view .cta h4 {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}


.take .fr-view .cta .button, .take .fr-view .kapow-player .button {
    margin: 0 0 0.5rem;
}
.take .fr-view .cta .button,  .take .fr-view .kapow-player .button{
    list-style-type: none;
    box-sizing: inherit;
    text-align: center;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    line-height: 1.5rem;
    height: 40px;
    text-decoration: none;
    /* background-color: #100d59;
    color: #fff; */
}



