<!-- CL-005 http://playersnips.superpowerups.com/-->
<!-- How to Guide: https://docs-playersnips.superpowerups.com/the-snips/layout-snips --> 
<style>
.cl-005 {
    --ps-color-bg:#f8f9fa;
    --ps-color-border:#f8f9fa;
    --ps-color-text: #36394D;
}  
.take .kapow-player.cl-005 .sidebar-container {
    background-color: var(--ps-color-bg) !important;
    border-color: var(--ps-color-border) !important;
    color: var(--ps-color-text) !important;
}
</style>
<div class="kapow-player cl-005">
    <div class="row align-items-md-stretch">
        <div class="col-md-7">
          <div class="pt-3">
            <h4>Heading Goes Here</h4>
            <p>As you can see, they’re two very different platforms, with very different purposes. YouTube is designed to serve content creators looking to monetize their videos and organizations investing in big advertising campaigns. Wistia is designed exclusively to support the needs of B2B companies using video for marketing, support, and sales.

            </p>
            
          </div>
        </div>
        <div class="col-md-5">
          <div class="p-3 bg-light border sidebar-container">
            <b>Put it into Practice</b>
            <p>Bacon ipsum dolor amet irure cow ipsum in et beef. Pork belly chislic ea kevin, mollit consectetur irure enim adipisicing. Shank brisket minim short ribs sausage laboris laborum dolore shoulder ipsum.</p>
            
          </div>
        </div>
      </div>
</div>
<!-- END CL-005 -->