<!-- CL-003 http://playersnips.superpowerups.com/-->
<!-- How to Guide: https://docs-playersnips.superpowerups.com/the-snips/layout-snips/2-columns-responsive --> 
<div class="kapow-player cl-003">
    <div class="row row-cols-1 row-cols-lg-2 g-4 ">
        <div class="col">
            <!-- START COL1 PUT CONTENT BELOW HERE-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- END COL1 -->
        </div>
        <div class="col">
            <!-- START COL2 PUT CONTENT BELOW HERE-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- END COL2 -->
        </div>
    </div>
</div>
<!-- END CL-003 -->