<!-- CL-006 http://playersnips.superpowerups.com/-->
<!-- How to Guide: https://docs-playersnips.superpowerups.com/the-snips/layout-snips --> 
<style>
    .cl-006 {
        --ps-color-bg:#FF0089;
        --ps-color-text: #FFFFFF;
    }  
    .take .kapow-player.cl-006  {
        background-color: var(--ps-color-bg) !important;
        color: var(--ps-color-text) !important;
    }
    </style>
    <div class="kapow-player cl-006">
        <div class="row p-4 py-5">
            <div class="col-12">
                <b>Put it into Practice</b>
                <p>Bacon ipsum dolor amet irure cow ipsum in et beef. Pork belly chislic ea kevin, mollit consectetur irure enim adipisicing. Shank brisket minim short ribs sausage laboris laborum dolore shoulder ipsum.</p>
            </div>
          </div>
    </div>
<!-- END CL-006 -->